.btn-lindo{

    background-color: red;
    border-radius: 5px;
    color: whitesmoke;
    margin-bottom: 5px;
    border: 2px;
    cursor: pointer;
    padding: 7px 15px;
}

h2{

    color:whitesmoke;

}